.map-container {
    height: 100%;
}

.list-container {
    height: 100%;
    overflow: auto;
}

/* React Leaflet */
.leaflet-container {
    /* min-height: 600px; */
    width: 100%;
    height: 100%;
}

.leaflet-control-attribution {
    display: none;
}